n8n-social-content-scheduler/workflows/daily-content-generator.workflow.json
{
  "name": "Daily Content Generator",
  "nodes": [
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [1216, 560],
      "id": "445645b8-6bd6-464a-8afd-1561dd37025c",
      "name": "Groq Chat Model"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [16, 336],
      "id": "29dfc794-65d3-48fd-a2e5-1579fa62e111",
      "name": "Daily Trigger"
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=site:YOUR_NEWS_SOURCE&hl=en-US&gl=US&ceid=US:en",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [224, 336],
      "id": "3cbe6a72-f96a-4003-ac58-1eef98fecff5",
      "name": "Fetch News"
    },
    {
      "parameters": {
        "jsCode": "const oneDayAgo = new Date(Date.now() - 24 * 60 * 60 * 1000);\n\nreturn $input.all().filter(item => {\n  const pubDate = new Date(item.json.isoDate || item.json.pubDate);\n  return pubDate > oneDayAgo;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [464, 336],
      "id": "08f813f0-f6c2-41f9-8cf9-9a4c09af145c",
      "name": "Filter Today's News"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [688, 336],
      "id": "096cb888-413f-494d-9040-3c64468021d6",
      "name": "Top 5 News"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [912, 336],
      "id": "8977948a-eb1e-415e-bfb5-d13f151d2730",
      "name": "Merge Headlines"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional social media manager who writes concise, engaging tweets based on the latest news.\n\nHere are today's top news headlines:\n{{ $json.data.map(item => item.title).join('\\n') }}\n\nPick the most relevant headline and write ONE informative, human-sounding tweet (max 250 characters) that:\n- Clearly summarizes what the news is about\n- Is neutral and factual in tone\n- Adds 1-2 relevant hashtags based on the topic\n\nExample format:\n\"[summary of news]. [brief insight or context] #hashtag1 #hashtag2\"\n\nWrite in English only. Sound natural, not robotic.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [1136, 336],
      "id": "9555a58b-73bc-4d17-a660-d71fce0b9c48",
      "name": "Generate Tweet"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "message": "=🗞 Draft Tweet:\n\n{{ $json.text }}\n\nApprove to save to Google Sheets?",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "disapproveLabel": "❌ Skip"
          }
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1488, 336],
      "id": "250c9b20-a883-4a3e-aaa7-6969cf2d0da0",
      "name": "Review via Telegram",
      "webhookId": "3a33478e-2306-4ff7-b9e1-9615c01c0b77"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "08e804d7-7345-4ed2-a642-11b64cd65243",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1696, 336],
      "id": "89486eb1-0759-4b37-a7e3-8f90fafa6b24",
      "name": "Approved?"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "YOUR_SHEET_NAME"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "pending",
            "tweet_text": "={{ $('Generate Tweet').item.json.text }}",
            "created_date": "={{ $now.toFormat('yyyy-MM-dd') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tweet_text",
              "displayName": "tweet_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_date",
              "displayName": "created_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "posted_date",
              "displayName": "posted_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [1936, 240],
      "id": "19dd575b-3603-4f07-ae51-4c2b4e753739",
      "name": "Save to Sheet"
    }
  ],
  "pinData": {},
  "connections": {
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Tweet",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Fetch News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch News": {
      "main": [
        [
          {
            "node": "Filter Today's News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Today's News": {
      "main": [
        [
          {
            "node": "Top 5 News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Top 5 News": {
      "main": [
        [
          {
            "node": "Merge Headlines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Headlines": {
      "main": [
        [
          {
            "node": "Generate Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Tweet": {
      "main": [
        [
          {
            "node": "Review via Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Review via Telegram": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "Save to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
